@font-face {
    font-family: 'alex_brushregular';
    src: url('/fonts/alex_brush/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/fonts/alex_brush/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'protest_strike';
    src: url('/fonts/Protest_Strike/ProtestStrike-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'concert_one';
    src: url('/fonts/Concert_One/ConcertOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

  